.alert {
  --dl-alert-bg: transparent;
  --dl-alert-padding-x: 1rem;
  --dl-alert-padding-y: 1rem;
  --dl-alert-margin-bottom: 1rem;
  --dl-alert-color: inherit;
  --dl-alert-border-color: transparent;
  --dl-alert-border: var(--dl-border-width) solid var(--dl-alert-border-color);
  --dl-alert-border-radius: var(--dl-border-radius);
  --dl-alert-link-color: inherit;
  position: relative;
  padding: var(--dl-alert-padding-y) var(--dl-alert-padding-x);
  margin-bottom: var(--dl-alert-margin-bottom);
  color: var(--dl-alert-color);
  background-color: var(--dl-alert-bg);
  border: var(--dl-alert-border);
  border-radius: var(--dl-alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
  color: var(--dl-alert-link-color);
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  --dl-alert-color: var(--dl-primary-text-emphasis);
  --dl-alert-bg: var(--dl-primary-bg-subtle);
  --dl-alert-border-color: var(--dl-primary-border-subtle);
  --dl-alert-link-color: var(--dl-primary-text-emphasis);
}

.alert-secondary {
  --dl-alert-color: var(--dl-secondary-text-emphasis);
  --dl-alert-bg: var(--dl-secondary-bg-subtle);
  --dl-alert-border-color: var(--dl-secondary-border-subtle);
  --dl-alert-link-color: var(--dl-secondary-text-emphasis);
}

.alert-success {
  --dl-alert-color: var(--dl-success-text-emphasis);
  --dl-alert-bg: var(--dl-success-bg-subtle);
  --dl-alert-border-color: var(--dl-success-border-subtle);
  --dl-alert-link-color: var(--dl-success-text-emphasis);
}

.alert-info {
  --dl-alert-color: var(--dl-info-text-emphasis);
  --dl-alert-bg: var(--dl-info-bg-subtle);
  --dl-alert-border-color: var(--dl-info-border-subtle);
  --dl-alert-link-color: var(--dl-info-text-emphasis);
}

.alert-warning {
  --dl-alert-color: var(--dl-warning-text-emphasis);
  --dl-alert-bg: var(--dl-warning-bg-subtle);
  --dl-alert-border-color: var(--dl-warning-border-subtle);
  --dl-alert-link-color: var(--dl-warning-text-emphasis);
}

.alert-danger {
  --dl-alert-color: var(--dl-danger-text-emphasis);
  --dl-alert-bg: var(--dl-danger-bg-subtle);
  --dl-alert-border-color: var(--dl-danger-border-subtle);
  --dl-alert-link-color: var(--dl-danger-text-emphasis);
}

.alert-light {
  --dl-alert-color: var(--dl-light-text-emphasis);
  --dl-alert-bg: var(--dl-light-bg-subtle);
  --dl-alert-border-color: var(--dl-light-border-subtle);
  --dl-alert-link-color: var(--dl-light-text-emphasis);
}

.alert-dark {
  --dl-alert-color: var(--dl-dark-text-emphasis);
  --dl-alert-bg: var(--dl-dark-bg-subtle);
  --dl-alert-border-color: var(--dl-dark-border-subtle);
  --dl-alert-link-color: var(--dl-dark-text-emphasis);
}