.text-primary {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-primary-rgb), var(--dl-text-opacity)) !important;
}

.text-secondary {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-secondary-rgb), var(--dl-text-opacity)) !important;
}

.text-success {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-success-rgb), var(--dl-text-opacity)) !important;
}

.text-info {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-info-rgb), var(--dl-text-opacity)) !important;
}

.text-warning {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-warning-rgb), var(--dl-text-opacity)) !important;
}

.text-danger {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-danger-rgb), var(--dl-text-opacity)) !important;
}

.text-light {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-light-rgb), var(--dl-text-opacity)) !important;
}

.text-dark {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-dark-rgb), var(--dl-text-opacity)) !important;
}

.text-black {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-black-rgb), var(--dl-text-opacity)) !important;
}

.text-white {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-white-rgb), var(--dl-text-opacity)) !important;
}

.text-body {
  --dl-text-opacity: 1;
  color: rgba(var(--dl-body-color-rgb), var(--dl-text-opacity)) !important;
}

.text-muted {
  --dl-text-opacity: 1;
  color: var(--dl-secondary-color) !important;
}

.text-black-50 {
  --dl-text-opacity: 1;
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  --dl-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-body-secondary {
  --dl-text-opacity: 1;
  color: var(--dl-secondary-color) !important;
}

.text-body-tertiary {
  --dl-text-opacity: 1;
  color: var(--dl-tertiary-color) !important;
}

.text-body-emphasis {
  --dl-text-opacity: 1;
  color: var(--dl-emphasis-color) !important;
}

.text-reset {
  --dl-text-opacity: 1;
  color: inherit !important;
}

.text-opacity-25 {
  --dl-text-opacity: 0.25;
}

.text-opacity-50 {
  --dl-text-opacity: 0.5;
}

.text-opacity-75 {
  --dl-text-opacity: 0.75;
}

.text-opacity-100 {
  --dl-text-opacity: 1;
}

.text-primary-emphasis {
  color: var(--dl-primary-text-emphasis) !important;
}

.text-secondary-emphasis {
  color: var(--dl-secondary-text-emphasis) !important;
}

.text-success-emphasis {
  color: var(--dl-success-text-emphasis) !important;
}

.text-info-emphasis {
  color: var(--dl-info-text-emphasis) !important;
}

.text-warning-emphasis {
  color: var(--dl-warning-text-emphasis) !important;
}

.text-danger-emphasis {
  color: var(--dl-danger-text-emphasis) !important;
}

.text-light-emphasis {
  color: var(--dl-light-text-emphasis) !important;
}

.text-dark-emphasis {
  color: var(--dl-dark-text-emphasis) !important;
}
