[data-dl-theme=light] {
  --dl-blue: #0d6efd;
  --dl-indigo: #6610f2;
  --dl-purple: #6f42c1;
  --dl-pink: #d63384;
  --dl-red: #dc3545;
  --dl-orange: #fd7e14;
  --dl-yellow: #ffc107;
  --dl-green: #198754;
  --dl-teal: #20c997;
  --dl-cyan: #0dcaf0;
  --dl-black: #000;
  --dl-white: #fff;
  --dl-gray: #6c757d;
  --dl-gray-dark: #343a40;
  --dl-gray-100: #f8f9fa;
  --dl-gray-200: #e9ecef;
  --dl-gray-300: #dee2e6;
  --dl-gray-400: #ced4da;
  --dl-gray-500: #adb5bd;
  --dl-gray-600: #6c757d;
  --dl-gray-700: #495057;
  --dl-gray-800: #343a40;
  --dl-gray-900: #212529;
  --dl-primary: #0d6efd;
  --dl-secondary: #6c757d;
  --dl-success: #198754;
  --dl-info: #0dcaf0;
  --dl-warning: #ffc107;
  --dl-danger: #dc3545;
  --dl-light: #f8f9fa;
  --dl-dark: #212529;
  --dl-primary-rgb: 13, 110, 253;
  --dl-secondary-rgb: 108, 117, 125;
  --dl-success-rgb: 25, 135, 84;
  --dl-info-rgb: 13, 202, 240;
  --dl-warning-rgb: 255, 193, 7;
  --dl-danger-rgb: 220, 53, 69;
  --dl-light-rgb: 248, 249, 250;
  --dl-dark-rgb: 33, 37, 41;
  --dl-primary-text-emphasis: #052c65;
  --dl-secondary-text-emphasis: #2b2f32;
  --dl-success-text-emphasis: #0a3622;
  --dl-info-text-emphasis: #055160;
  --dl-warning-text-emphasis: #664d03;
  --dl-danger-text-emphasis: #58151c;
  --dl-light-text-emphasis: #495057;
  --dl-dark-text-emphasis: #495057;
  --dl-primary-bg-subtle: #cfe2ff;
  --dl-secondary-bg-subtle: #e2e3e5;
  --dl-success-bg-subtle: #d1e7dd;
  --dl-info-bg-subtle: #cff4fc;
  --dl-warning-bg-subtle: #fff3cd;
  --dl-danger-bg-subtle: #f8d7da;
  --dl-light-bg-subtle: #fcfcfd;
  --dl-dark-bg-subtle: #ced4da;
  --dl-primary-border-subtle: #9ec5fe;
  --dl-secondary-border-subtle: #c4c8cb;
  --dl-success-border-subtle: #a3cfbb;
  --dl-info-border-subtle: #9eeaf9;
  --dl-warning-border-subtle: #ffe69c;
  --dl-danger-border-subtle: #f1aeb5;
  --dl-light-border-subtle: #e9ecef;
  --dl-dark-border-subtle: #adb5bd;
  --dl-white-rgb: 255, 255, 255;
  --dl-black-rgb: 0, 0, 0;
  --dl-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --dl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --dl-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --dl-body-font-family: var(--dl-font-sans-serif);
  --dl-body-font-size: 1rem;
  --dl-body-font-weight: 400;
  --dl-body-line-height: 1.5;
  --dl-body-color: #212529;
  --dl-body-color-rgb: 33, 37, 41;
  --dl-body-bg: #fff;
  --dl-body-bg-rgb: 255, 255, 255;
  --dl-emphasis-color: #000;
  --dl-emphasis-color-rgb: 0, 0, 0;
  --dl-secondary-color: rgba(33, 37, 41, 0.75);
  --dl-secondary-color-rgb: 33, 37, 41;
  --dl-secondary-bg: #e9ecef;
  --dl-secondary-bg-rgb: 233, 236, 239;
  --dl-tertiary-color: rgba(33, 37, 41, 0.5);
  --dl-tertiary-color-rgb: 33, 37, 41;
  --dl-tertiary-bg: #f8f9fa;
  --dl-tertiary-bg-rgb: 248, 249, 250;
  --dl-heading-color: inherit;
  --dl-link-color: #0d6efd;
  --dl-link-color-rgb: 13, 110, 253;
  --dl-link-decoration: underline;
  --dl-link-hover-color: #0a58ca;
  --dl-link-hover-color-rgb: 10, 88, 202;
  --dl-code-color: #d63384;
  --dl-highlight-color: #212529;
  --dl-highlight-bg: #fff3cd;
  --dl-border-width: 1px;
  --dl-border-style: solid;
  --dl-border-color: #dee2e6;
  --dl-border-color-translucent: rgba(0, 0, 0, 0.175);
  --dl-border-radius: 0.375rem;
  --dl-border-radius-sm: 0.25rem;
  --dl-border-radius-lg: 0.5rem;
  --dl-border-radius-xl: 1rem;
  --dl-border-radius-xxl: 2rem;
  --dl-border-radius-2xl: var(--dl-border-radius-xxl);
  --dl-border-radius-pill: 50rem;
  --dl-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --dl-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --dl-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --dl-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --dl-focus-ring-width: 0.25rem;
  --dl-focus-ring-opacity: 0.25;
  --dl-focus-ring-color: rgba(13, 110, 253, 0.25);
  --dl-form-valid-color: #198754;
  --dl-form-valid-border-color: #198754;
  --dl-form-invalid-color: #dc3545;
  --dl-form-invalid-border-color: #dc3545;
}